* {
    box-sizing: border-box;
}

:root {
     --primary-Gold-500: hsl(31, 77%, 52%);
     --primary-Cyan-800: hsl(184, 100%, 22%);
     --primary-Green-950: hsl(179, 100%, 13%);
     --neutral-Transparent-white : hsla(0, 0%, 100%, 0.75);
     --neutral-Gray-100 : hsl(0, 0%, 95%);
     --neutral-white: hsl(0, 0%, 100%);
     --neutral-Gray-100: hsl(0, 0%, 95%);
}



body {
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca", sans-serif; 
    font-size: 15px;
    background-color: var(--neutral-Gray-100);
} 

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.card  {
    width: 250px;
    height: 450px;
    margin: 0;
    padding: 30px;
    border: 0 solid ;
    border-radius:  5px 0 0 5px ;
    position: relative;
    color:white ;
}


.services .container .card h2 {
    font-family:"Big Shoulders", sans-serif; 
    font-weight: 400;
    font-size: 40px;    
    margin-bottom: 0px;
    line-height: normal;
    border-color: var(--primary-Cyan-800);
}

.services .container .card p {
    font-weight:200;
    font-size: 12px;
    margin: 20px 0;
    padding: 15px 8px;
    text-align: left;
    line-height: normal
}
.services .card.card1{
    background-color: var(--primary-Gold-500); 
}
.services .card.card2{
    background-color: var(--primary-Cyan-800);
    border-radius: 0 ;

}
.services .card.card3{
    background-color: var(--primary-Green-950);
    border-radius: 0 5px 5px 0 ;
}

.services .btn {
    position: absolute;
    margin: 5px;
    margin-bottom: 50px;
    bottom: 5px;
    border: none;
    border-radius: 40px;
    padding: 10px 25px;
    background-color: var(--neutral-white);
}
.services .card1 .btn{
    color: var(--primary-Gold-500);
    font-family: "Lexend Deca", sans-serif; 


}

.services .card2 .btn{
    color: var(--primary-Cyan-800);
    font-family: "Lexend Deca", sans-serif; 

}

.services .card3 .btn{
    color: var(--primary-Green-950);
    font-family: "Lexend Deca", sans-serif; 

}
   @media screen and (max-width: 425px) {
    .services {
        text-align: center;
    }
    .services h2{
        font-size: 25px;
    }
    .services > p {
        width: 90%;
    }
    .services .card{
        text-align: left;
        margin-bottom: 0;
    }
}
